body {
    font-family: 'Roboto Mono', monospace;
    margin: 30px;
    background: linear-gradient(to bottom, rgba(128, 0, 128, 0), rgba(128, 0, 128, 1));
  }
  
  h1 {
    text-align: center;
  }
  
  .converter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    width: 120px;
    padding: 5px;
  }
  
  button {
    padding: 10px;
    margin-right: 10px;
    font-family: 'Roboto Mono',monospace
  }
  